/*Global class*/
/*color*/
$font-color: #3D3C3C;
$color-red: #E72327;
$color-gray: #707070;
$background-gray-color: #F9F9F9;
$background-dark-gray-color: #D2D2D2;
$color-shadow: #00000029;


/*End global class*/
